@page "/"

<PageTitle>Index</PageTitle>

<body class="home-background-class">
    <div class="container">
        <div class="card">
            <h1 class="card-header d-flex justify-content-center text">Welcome to PokeWallet!</h1>
            <h3 class="card-subtitle mb-2 text-body-secondary d-flex justify-content-center">Innovation of your budget, at your fingertips.</h3>
        </div>
    </div>
</body>




